EXPO_PUBLIC_SUPABASE_URL=https://cwfpkehhgjhllitcazwe.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_IhO50Rn_o-jT_S5DJjVIQA_E9haQYjw

EXPO_PUBLIC_API_URL=https://mentis-production-5adc.up.railway.app

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=725997667068-ebvtgkks3neln9nvs78gptfj3b0edlvs.apps.googleusercontent.com

EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=725997667068-7gj1ttegttrpoh4ri6klugqnj676sf8l.apps.googleusercontent.com
